ETL_ASSIGNMENT
===============

Eugene & Maaike

Step 1: Finding Data
=================

chosing a datset: 
We started with the dataset '120 years of Olympic history: athletes and results' which is a CSV file available at Kaggle.com. We The second dataset holds weatherdata from OpenWeatherMap for the dates of each of the Olympic Games.    
 
Project proposal: 
Goal of the project is to make tables to analyze in what way the weather found on weatherdata influences the medal count.

Step 2: Data cleanup in CSV
====================
Reducing the dataset:


The dataset olympic history included data of the last 120 years of summer and winter olympics. 
We decided to focus on the years 1984 (the year the olympics were held in Los Angeles) until 2014 (last year of available data).


Included in the dataset were the height and weight of the atlethes, but there are a lot of missing values and we decided not to use this information and took in put of the CSV file


We replaced all the NaN values at the medal column for an empty line to make the data load


The data we will use in the project are :
-  id of athlete: int
-  name (first and lastname): varchar
-  sex (male, female): varchar
-  age (whole number): int
-  team (country athlete plays for): varchar
-  year (the year of the games): int
-  season (winter or summer games): varchar
-  city (in which the games are held): varchar
-  sport (type of sport, f.e. iceskating): varchar
-  event (f.e. 5000 m men iceskating): varchar
-  medal (none/empty, bronze, silver, gold): varchar

We imported the raw data from dataset olympic history dataset. 

code:
 - create table raw_data (id int, name varchar(100), sex varchar(10), age int, team varchar(100), year int, season varchar(100), city varchar(100), sport varchar(100), event varchar(200), medal varchar(100));


 - load data local infile 'c:\\games.csv' into table raw_data fields terminated by ',' enclosed by '"' lines terminated by '\n' (Id, name, sex, age, team, year, season, city, sport, event, medal);
 
 For the weather data, we created an API to call data from OpenWeatherMap historical data.  The API called http://history.openweathermap.org/data/2.5/history/city?id={id}&type=hour&start={start}&end={end} and returned the following data:

- City
- Date
- Average High Temperature (for day)
- Average Precipitation (for day)

When the data was returned, we used Pandas to convert the data to CSV format which was then loaded into a separate MySQL "Weather" table.  We also used PAndas to check for data inconsistancies which we found none.  We did however need to import a time function in order to convert the 'Date" data from unix time in UTC to PST in the CSV.

Step 3: Data cleanup in MySql
=================

After importing the data in MySql we create all the normalized tables we need for the analysis:

 - games
create table games (games_id mediumint not null auto_increment, year int, city_name varchar(100), primary key(games_id));
  
  
 - sports
create table sports (sports_id mediumint not null auto_increment, sports_name varchar(100), primary key(sports_id));
  
  
 - events
create table events (events_id mediumint not null auto_increment, events_name varchar(100), primary key(events_id));
  
  
 - teams
create table teams (teams_id mediumint not null auto_increment, teams_name varchar(100), primary key(teams_id));
  
  
 - athletes
create table athletes (athletes_id mediumint not null auto_increment, athletes_name varchar(100), athletes_sex varchar(100), athletes_age int, primary key (athletes_id));
  
  
 - medals
create table medals (medals_id mediumint not null auto_increment, medal_name varchar(100), games_id int, sports_id int, events_id int, teams_id int, athletes_id int, primary key(medals_id));

- weather
create table weather (weather_id medium int not null auto_increment, city varchar(50), date date, avg_temp smallint, avg_precip smallint

Step 3: Transformation and normalization of the data
=================

Data Cleanup & Analysis
Once you have identified your datasets, perform ETL on the data. Make sure to plan and document the following:


The sources of data that you will extract from.


The type of transformation needed for this data (cleaning, joining, filtering, aggregating, etc).


The type of final production database to load the data into (relational or non-relational).


The final tables or collections that will be used in the production database.


You will be required to submit a final technical report with the above information and steps required to reproduce your ETL process.

Project Report
At the end of the week, your team will submit a Final Report that describes the following:


Extract: your original data sources and how the data was formatted (CSV, JSON, MySQL, etc).


Transform: what data cleaning or transformation was required.


Load: the final database, tables/collections, and why this was chosen.


Please upload the report to Github and submit a link to Bootcampspot.